.layout {
	main {
		padding-top: 7rem;
	}
	footer {
	
		background-color: rgb(17, 17, 17);
		padding: 2rem;
		ul {
			text-align: center;
			li {
				font-size: 2rem;
				display: inline-block;
				margin: 0 1rem;
			}
		}
	}
}
