.menu {
	background-color: #1d1d1d;
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	header {
		display: flex;
		padding: 1rem;
		align-items: center;
		justify-content: space-between;
	}
	nav {
		margin: 2rem 0;
	}
}
